@import "../variables/variables";
form{
    width: 80%;
    margin: 40px auto;
    background: rgba(163, 161, 161, 0.4);
    padding:10px 20px ;
    box-sizing: border-box;
    border-radius: 15px;
    border: $borde;
    h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin:200px auto;
    font-size: 15px;
    }
    label{
        font-weight: 10px;
        color: white;
    }
    input{
        width: 100%;
        margin-bottom: 0px;
        padding: 7px;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        min-height: 120px;
        max-height: 220px;
        max-width: 100%;
    }
    .enviar{
        width: 100%;
        color: white;
        background: rgba(0, 0, 0, 0.9);
        border: 1px solid white;
        border-radius: 5px;
        font-weight: 400;
        padding: 10px;
        margin: 20px auto;
        font-size: 1.5em;
        &:hover{
            background: rgba(89, 27, 203, 0.808);
            color: black;
            cursor: pointer;
        }
    }
    .botones{
        .btn{
            border: none;
            padding:10px 0;
            width: $completo;
            font-weight: bolder;
            border-radius: 5px;
            text-transform: uppercase;
            margin: 15px auto;
        }
        .btn-facebook{
            background-color: rgb(10, 82, 216);
            color: white;
            &:hover{
                background-color: rgb(8, 69, 182);
            }
        }
        .btn-google{
            border: solid 1px #ccc;
            &:hover{
                background-color: rgb(240, 240, 240);
            }
        }
        .btn-twitter{
            background-color: rgb(10, 168, 216);
            color: white;
            &:hover{
                background-color: rgb(8, 137, 177);
            }
        }
    }
}

@media (min-width:500px){
    form{
        width:60%;
        margin-bottom: 50px;
    }
}

@media (min-width:768px){
    form{
        width:450px;
    }
}